:root {
  --kbm-color: #2b8a43;
  --primary-text-color: #495057;
  --secondary-text-color: #e9ecef;
  --font: "Geist";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font), sans-serif;
  color: var(--primary-text-color);
  background: #f9f9f9;
}
